include svnplot/*.py
include svnplot/README
include svnplot/readme.txt
include svnplot/svnplot-long.tmpl
include svnplot/svnplot-js.tmpl
include svnplot/javascript/*
include svnlog2sqlite.py
include svnplot.py
include svnplotjs.py

prune svnplot/javascript/.svn/*
prune svnplot/javascript/jqplot/.svn/*
prune svnplot/javascript/jqplot/plugins/.svn/*
